.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(155, 155, 155);
  color: #fff;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  height: 4rem;
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.bell-notification {
  position: relative;
  display: flex;
  align-items: center;
}

.bell {
  width: 2rem;
  height: 2rem;
  color: #fff;
  animation: swing ease-in-out 5s infinite alternate;
  animation-delay: 5s;
}

.bell-dot {
  position: absolute;
  height: 0.65rem;
  width: 0.65rem;
  background-color: rgb(245, 124, 1);
  border: 1px solid rgb(155, 155, 155);
  border-radius: 50%;
  display: inline-block;
  top: 3%;
  right: 10%;
  animation: jumpAnimation 10s infinite;
  animation-delay: 5s;
}

@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(0deg);
  }
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  1.66% {
    transform: translateY(-5px);
  }
  3.33% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-5px);
  }
  6.66% {
    transform: translateY(0);
  }
  8.33% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(0);
  }
}

.bell-dot.hidden {
  opacity: 0;
}

.notification-dropdown {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 0.8rem;
  row-gap: 1.3rem;
  width: 25rem;
  max-height: 30rem;
  color: #000;
  /* padding: 0.8rem 2rem; */
  top: 100%;
  right: 0%;
  padding: 1.5rem 1.5rem;
}

.sended-text {
  display: flex;
  background-color: rgb(204, 204, 204);
  border: 1px solid rgb(155, 155, 155);
  height: 3.5rem;
  min-width: 15rem;
  border-radius: 0.5rem;
  flex-grow: 1;
}

.sender-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 0.5rem;
}

.sender-img {
  border: 1px solid rgb(155, 155, 155) !important;
  height: 2.3rem;
  width: 2.3rem;
}

.sender-initials {
  font-size: 1rem;
  font-weight: 300;
}

.user-profile {
  display: flex;
  gap: 0.25rem;
}

.user-name {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.default-user-img {
  max-width: 2.9rem;
  max-height: 2.9rem;
  border: 2px solid rgb(0, 186, 166);
  border-radius: 50%;
  padding: -50px;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid rgb(155, 155, 155);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.user-dropdown {
  display: flex;
  min-width: 8rem;
  color: #464646;
  flex-direction: column;
  padding: 0.8rem 2.2rem;
  top: 100%;
  right: 0%;
}

.dropdown-content a:link,
.dropdown-content a:active,
.dropdown-content a:visited,
.dropdown-content a:hover {
  text-decoration: none;
  color: #464646;
  font-size: 1.5rem;
  line-height: 3rem;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 10px solid rgb(155, 155, 155);
  position: absolute;
  top: 20%;
  left: 0%;
  transform: translate(-100%, 0);
}

.sended-message {
  position: relative;
}

.paused-animation {
  animation-play-state: paused;
}
